<section class="contact-section" id="contacto">
    <div class="contact-container">
      <h1>¡Ponte en contacto con nosotros!</h1>
      <p class="description">
        Estamos aquí para ayudarte a encontrar el mejor servicio para tu peludo.
      </p>
  
      <div class="contact-info">
        <div class="contact-details">
          <h2>Horarios de Atención</h2>
          <p>Lunes a Sábado: <strong>8:00 AM - 4:00 PM</strong></p>
          <p>Guardería: <strong>6:00 AM - 5:00 PM</strong></p>
          <p>Teléfono: <strong>+57 3043610889</strong></p>
        </div>
        <div class="contact-buttons">
          <button class="call-us">Te llamamos</button>
          <button class="whatsapp">
            <a
              href="https://api.whatsapp.com/send/?phone=573043610889&text=Hola%2C+estoy+interesado+en+uno+de+sus+servicios+para+mi+peludo+%F0%9F%90%B6&type=phone_number&app_absent=0"
              target="_blank"
              >Whatsapp</a
            >
          </button>
        </div>
      </div>
  
      <div class="cta-footer">
        <p class="email">
          Escríbenos a nuestro correo: <strong>guarderia.g4p&#64;gmail.com</strong>
        </p>
      </div>
    </div>
  </section>
  