<section class="pricing-section">
  <div class="section-header">
    <h2>Precios</h2>
    <p>*Obten el primer dia de guarderia totalmente gratis. Contactanos para conocer más</p>
  </div>
  <div class="pricing-container">
    <!-- Planes por día -->
    <div class="pricing-card">
      <h3>Estadía <span class="highlight">Express</span></h3>
      <ul>
        <li>2 días x semana <span class="price">$350.000</span></li>
        <li>3 días x semana <span class="price">$500.000</span></li>
        <li>4 días x semana <span class="price">$610.000</span></li>
        <li>5 días x semana <span class="price">$690.000</span></li>
      </ul>
    </div>
    <!-- Planes por mes -->
    <div class="pricing-card">
      <h3>Estadía <span class="highlight">Nocturna</span></h3>
      <ul>
        <li>2 días x semana <span class="price">$350.000</span></li>
        <li>3 días x semana <span class="price">$500.000</span></li>
        <li>4 días x semana <span class="price">$610.000</span></li>
        <li>5 días x semana <span class="price">$690.000</span></li>
      </ul>
    </div>
    <!-- Hotel -->
    <div class="pricing-card">
      <h3>Estadía <span class="highlight">Completa</span></h3>
      
      <ul>
        <li>Hotel Alumno plan 2 días <span class="price">$45.000 c/u</span></li>
        <li>Hotel Alumno plan 3 días <span class="price">$40.000 c/u</span></li>
        <li>Hotel Alumno plan 4 días <span class="price">$35.000 c/u</span></li>
        <li>Hotel Alumno plan 5 días <span class="price">$30.000 c/u</span></li>
      </ul>
    </div>
    <!-- Personalizados -->
    <div class="pricing-card highlighted-card">
      <h3>Personalizados</h3>
      <ul>
        <li>5 sesiones x mes <span class="price">$185.997</span></li>
        <li>10 sesiones x mes <span class="price">$345.100</span></li>
        <li>15 sesiones x mes <span class="price">$464.100</span></li>
        <li>30 sesiones x mes <span class="price">$678.600</span></li>
      </ul>
    </div>
  </div>

</section>
