<section class="pricing-section">
  <div class="section-header">
    <h2>Precios</h2>
    <p>*Obten el primer dia de guarderia totalmente gratis. Contactanos para conocer más</p>
  </div>
  <div class="pricing-container">
    <!-- Planes por día -->
    <div class="pricing-card">
      <h3>Estadía Express</h3>
      <ul>
        <li>Valor x hora <span class="price">$7.000</span></li>
      </ul>
    </div>

    <!-- Planes por mes -->
    <div class="pricing-card">
      <h3>Estadía Diurna</h3>
      <ul>
        <li>1 día x semana <span class="price">$38.000</span></li>
        <li>3 días x semana <span class="price">$35.000</span></li>
        <li>5 días x semana <span class="price">$33.000</span></li>
      </ul>
    </div>

    <!-- Hotel -->
    <div class="pricing-card">
      <h3>Estadía Completa</h3>
      <ul>
        <li>Entre 3 y 5 dias</li>
        <li class="indent">Valor x dia y noche <span class="price">$70.000</span></li>
        <li>Más de 5 dias</li>
        <li class="indent">Valor x dia y noche <span class="price">$66.000</span></li>
      </ul>
    </div>

    <!-- Fin de Semana -->
    <div class="pricing-card">
      <h3>Estadía Fin de Semana</h3>
      
      <ul>
        <li>2 días 1 noche <span class="price">$120.000</span></li>
        <li>3 días 2 noches <span class="price">$190.000</span></li>
      </ul>
    </div>
    <!-- Personalizados -->

  </div>

</section>
