<header>
  <!-- Logo -->
  <div class="logo d-flex align-items-center">
    <img src="assets/images/logoGarden4Pets.png" alt="Logo" class="LogoPrincipal me-2" />
  </div>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-teal">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" [class.active]="isActive('hero')" href="#hero">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="isActive('nosotros')" href="#nosotros">Sobre Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="isActive('servicios')" href="#servicios">Nuestros Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="isActive('instalaciones')" href="#instalaciones">Instalaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="isActive('contacto')" href="#contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
