<section class="about-section" id="nosotros">
    <div class="about-container">
      <!-- Imagen decorativa -->
      <div class="about-image">
        <img src="assets/images/imagen-nosotros.png" alt="Dog and Cat">
      </div>
  
      <!-- Contenido del texto -->
      <div class="about-content">
        <h1>¿Quiénes Somos?</h1>
        <p>
          <strong>Tus peludos</strong> son y siempre serán tu compañía más fiel, pero 
          ¿alguna vez te has preguntado <strong>quién los acompaña</strong> cuando tú no estás?
          <br>
          Con esta reflexión en mente nace <strong>Garden 4 Pets</strong>, un espacio pensado para 
          brindarles a tus mascotas el amor, la atención y los cuidados que necesitan en tu ausencia.
        </p>
        <p>
          Somos un equipo de amantes de los perros, comprometidos y apasionados por ofrecerles 
          un segundo hogar. En <strong>Garden 4 Pets</strong>, entendemos que cada peludo tiene su 
          propia personalidad y necesidades, por eso nos enfocamos en crear una experiencia 
          totalmente personalizada. Tratamos a cada uno de nuestros huéspedes caninos con el 
          respeto, cariño y dedicación que se merecen, asegurando que su estancia sea tan placentera 
          como segura.
        </p>
        <p>
          En <strong>Garden 4 Pets</strong> estamos comprometidos con ofrecerles momentos de diversión 
          en un entorno seguro, mientras que tú tienes la tranquilidad de saber que tu mascota está 
          en las mejores manos.
        </p>
      </div>
    </div>
  </section>
  