<footer class="footer">
    <div class="footer-container">
      <!-- Contacto -->
      <div class="footer-section contact">
        <h4>Contáctenos</h4>
        <p>Dirección: Cl. 11 #6-33. Soacha, Cundinamarca.</p>
        <p>Teléfono: +57 3043610889</p>
        <p>Email: guarderia.g4p&#64;gmail.com</p>
      </div>
  
      <!-- Redes Sociales -->
      <div class="footer-section social-media">
        <h4>Nuestras Redes Sociales</h4>
        <div class="social-icons">
          <a href="https://api.whatsapp.com/send/?phone=573043610889&text=Hola%2C+estoy+interesado+en+uno+de+sus+servicios+para+mi+peludo+%F0%9F%90%B6&type=phone_number&app_absent=0" target="_blank"><i class="pi pi-whatsapp"></i></a>
          <a href="https://www.instagram.com/garden4pets?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="pi pi-instagram" ></i></a>
        </div>
      </div>
  
      <!-- Logo -->
      <div class="footer-section logo">
        <img src="assets/images/logoG4P_blanco.png" alt="Logo Garden 4 Pets" />
      </div>
    </div>
  
    <!-- Derechos reservados -->
    <div class="footer-bottom">
      <p>© 2024 Garden 4 Pets. Todos los derechos reservados</p>
    </div>
  </footer>
  